@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header */
.header{
    height: 60px;
    background-color: #177078;
    border-bottom: 5px solid #15acb1;
}

/* Welcome */
.welcome{
    height: 500px;
    background-color: #073c45;
    display: flex;
    padding: 70px;
}
.text{
    width: 50%;
}
.titre-welcome{
    color: #d2fffe;
    font-size: 50px;
    font-weight: bold;
    width: 70%;
}
.texte-welcome{
    width: 70%;
    color: #d2fffe;
}
.button-welcome{
    padding: 10px;
    background-color: #cdffff;
    color: #307476;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-welcome{
    width: 75%;
    border-radius: 40px;
    border: 10px solid #d0fefc;
}